# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver Firefox -> geckodriver Chrome -> chromedriver

In [70]:
# Passo a passo
#!pip install selenium
# Passo 1: Abrir o navegador
from selenium import webdriver
navegador = webdriver.Chrome()
navegador.get("https://www.google.com/")

In [71]:
# Passo 2: Importar a base de dados
import pandas as pd

tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [72]:
# import unicodedata
# produto = unicodedata.normalize("NFKD", produto).encode("ascii", "ignore")

for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"]
    
    print(produto)
    produto = produto.replace("ó", "o").replace("ã", "a").replace("á", "a").replace(
    "ç", "c").replace("ú", "u").replace("é", "e")
    
    link = f"https://www.melhorcambio.com/{produto}-hoje"
    print(link)
    navegador.get(link)

    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "").replace(",", ".")
    print(preco)
    tabela.loc[linha, "Preço Atual"] = float(preco)
    
    
print("Acabou")
display(tabela)
    
# .click() -> clicar
# .send_keys("texto") -> escrever
# .get_attribute() -> pegar um valor

# Passo 3: Para cada produto da base de dados
# Passo 4: Pesquisar o preço do produto
# Passo 5: Atualizar o preço na base de dados
# Passo 6: Decidir quais produtos comprar

Milho
https://www.melhorcambio.com/Milho-hoje
80.24
Soja
https://www.melhorcambio.com/Soja-hoje
149.44
Boi
https://www.melhorcambio.com/Boi-hoje
294.15
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
429.45
Algodão
https://www.melhorcambio.com/Algodao-hoje
446.73
Açúcar
https://www.melhorcambio.com/Acucar-hoje
139.50
Café
https://www.melhorcambio.com/Cafe-hoje
1101.19
Ouro
https://www.melhorcambio.com/Ouro-hoje
328.98
Trigo
https://www.melhorcambio.com/Trigo-hoje
0.00
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
9.48
Acabou

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        80.24      NaN
1      Soja       163.59       149.44      NaN
2       Boi       282.20       294.15      NaN
3  Petróleo       424.37       429.45      NaN
4   Algodão       497.76       446.73      NaN
5    Açúcar       136.23       139.50      NaN
6      Café      1092.87      1101.19      NaN
7      Ouro       321.77       328.98      NaN
8     Trigo      1549.11         0.00      NaN
9   Tilápia         9.05         9.48      NaN

In [73]:
# preencher a coluna de comprar
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

# exportar a base para o excel
tabela.to_excel("commodities_atualizado.xlsx", index=False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        80.24     True
1      Soja       163.59       149.44     True
2       Boi       282.20       294.15    False
3  Petróleo       424.37       429.45    False
4   Algodão       497.76       446.73     True
5    Açúcar       136.23       139.50    False
6      Café      1092.87      1101.19    False
7      Ouro       321.77       328.98    False
8     Trigo      1549.11         0.00     True
9   Tilápia         9.05         9.48    False

In [76]:
navegador.quit()